body,
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.modal {
  visibility: hidden;
}

.modal.open {
  visibility: visible;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.f-light {
  font-weight: 200;
}

.f-bold {
  font-weight: 700;
}

.f-black {
  font-weight: 900;
}

.withmargins {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
}

@media (max-width: 980px) {
  .withmargins {
    padding: 0 12px;
  }
}

@media (min-width: 1600px) {
  .withmargins {
    max-width: 1800px;
  }
}

body {
  background-color: #fdfdfd;
  min-height: 100vh;
}

html {
  scrollbar-color: #f9ba17 rgba(3, 3, 3, 0.1);
}

html::-webkit-scrollbar {
  background-color: rgba(3, 3, 3, 0.1);
}

html::-webkit-scrollbar-thumb {
  background-color: #f9ba17;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #030303;
}

.header-banner .logo-text {
  font-size: calc(0.75vw + 2rem);
  line-height: calc(0.75vw + 2rem);
}

.header-banner .logo-description {
  font-size: 0.9rem;
}

.header-info a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  width: 26px;
}

.header-info a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

#filters {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#filters #searchbox {
  border-radius: 24px;
  border: solid 1px #f9ba17;
  padding: 4px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 580px;
  position: relative;
}

#filters #searchbox:hover {
  border: solid 1px #dfe0e0;
  -webkit-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
}

#filters #searchbox input {
  height: 37px;
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  font-size: 0.9rem;
}

#filters #searchbox img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 12px;
  width: 12px;
  opacity: 0.5;
  margin-right: 16px;
  display: inline-block;
}

#filters #searchbox button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  display: none;
}

#filters #searchbox button img {
  margin-left: 16px;
  margin-right: 0;
}

#filters #searchbox #searchsuggestions {
  border-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-top: -1px;
  background-color: #fdfdfd;
  border: solid 1px #dfe0e0;
  border-top: 0;
  -webkit-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  padding: 16px 0px;
  padding-left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 20;
}

#filters #searchbox #searchsuggestions p {
  font-size: 0.85rem;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 50px;
  padding-right: 24px;
}

#filters #searchbox #searchsuggestions p:last-child {
  margin-bottom: 0;
}

#filters #searchbox #searchsuggestions p:first-child {
  background-color: rgba(54, 134, 178, 0.1);
}

#filters #searchbox.suggesting {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#filters #searchbox.suggesting #searchsuggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filters #searchbox.clear button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filters #sortandview {
  position: relative;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#filters #sortandview .block {
  margin-left: 24px;
  position: relative;
}

#filters #sortandview .selector {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#filters #sortandview .selector .option {
  font-size: 0.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 22px;
  border-radius: 14px;
  min-width: 98px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: #f9ba17;
}

#filters #sortandview .selector .option:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#filters #sortandview .selector .option img {
  height: 18px;
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 6px;
}

#filters #sortandview #sortmenu,
#filters #sortandview #viewmenu {
  top: 0;
}

#filters #sortandview #sortmenu .option img,
#filters #sortandview #viewmenu .option img {
  pointer-events: none;
  width: 18px;
  height: 18px;
}

@media (max-width: 980px) {
  #filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #filters #searchbox {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
    max-width: unset;
  }
  #filters #searchbox input {
    max-width: calc(100% - 28px - 28px);
  }
  #filters #sortandview {
    margin-left: 0;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #filters #sortandview .block {
    margin-left: 0;
  }
  #filters #sortandview .block:first-child {
    margin-right: 24px;
  }
  #filters #sortandview .block .option {
    font-size: 0.8rem;
    padding: 8px 11px;
  }
}

#buttons-wrapper {
  position: fixed;
  bottom: 24px;
  left: 0;
  width: 100%;
  z-index: 100;
}

#buttons-wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buttons-wrapper .buttons .btn {
  border-radius: 50%;
  background-color: #f9ba17;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  margin-left: 14px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

#buttons-wrapper .buttons .btn img {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

#buttons-wrapper .buttons .btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.bookmarks-list {
  margin-left: -12px;
  margin-right: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bookmarks-list:empty {
  content: "";
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmarks-list:empty:after {
  padding: 50px 0;
  font-size: calc(7vw + 1rem);
  font-weight: 300;
  opacity: 0.5;
  content: "Nothing to show...";
}

.bookmarks-list .bookmark {
  position: relative;
  border-radius: 14px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1), transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1), transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  will-change: opacity, transform;
  width: calc(100% / 4 - 24px);
  margin: 24px 12px;
}

.bookmarks-list .bookmark.loaded {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.bookmarks-list .bookmark:hover {
  -webkit-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.bookmarks-list .bookmark:hover div.options.btn {
  background-color: #f9ba17;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1600px) {
  .bookmarks-list .bookmark {
    width: calc(100% / 5 - 24px);
  }
}

@media (max-width: 980px) {
  .bookmarks-list .bookmark {
    width: calc(100% / 2 - 24px);
  }
}

@media (max-width: 540px) {
  .bookmarks-list .bookmark {
    width: calc(100% / 1 - 24px);
  }
}

.bookmarks-list .bookmark-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.bookmarks-list .bookmark-content .images {
  position: relative;
  width: 100%;
  height: 220px;
}

.bookmarks-list .bookmark-content .images img.featured {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.bookmarks-list .bookmark-content .info {
  padding: 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #030303;
  width: 100%;
}

.bookmarks-list .bookmark-content .info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 12px;
}

.bookmarks-list .bookmark-content .info .tags .tag {
  margin: 6px;
  margin-top: 0;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 6px;
  border-radius: 0.3rem;
  background-color: #3686b2;
  color: #fdfdfd;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmarks-list .bookmark-content .info .title {
  font-size: 1.15rem;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 12px;
}

@media (max-width: 980px) {
  .bookmarks-list .bookmark-content .info .title {
    font-size: 1rem;
  }
}

.bookmarks-list .bookmark-content .info .description {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 16px;
}

@media (max-width: 980px) {
  .bookmarks-list .bookmark-content .info .description {
    font-size: 0.8rem;
  }
}

.bookmarks-list .bookmark-content .info .notes {
  margin-bottom: 16px;
  font-size: 0.8rem;
  opacity: 0.9;
}

.bookmarks-list .bookmark-content .info .meta-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bookmarks-list .bookmark-content .info .meta-info .url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 56%;
  display: inline-block;
  font-size: 0.7rem;
  color: #22637b;
}

.bookmarks-list .bookmark-content .info .meta-info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  opacity: 0.6;
  margin-left: auto;
}

.bookmarks-list .bookmark-content .info .meta-info .favicon {
  height: 22px;
  margin-right: 8px;
}

.bookmarks-list .bookmark-content .info .meta-info .favicon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 22px;
  height: 100%;
}

.bookmarks-list .bookmark div.options.btn {
  cursor: pointer;
  color: #fdfdfd;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.bookmarks-list .bookmark div.options.btn .menu-options {
  z-index: 100;
}

.bookmarks-list .bookmark div.options.btn .menu-options span {
  width: 100%;
  margin-left: 0;
}

.bookmarks-list .bookmark div.options.btn img.option-menu-image {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bookmarks-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmarks-list.list .bookmark {
  width: calc(100% - 24px);
  max-width: 960px;
}

.bookmarks-list.list .bookmark-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: unset;
  height: unset;
}

.bookmarks-list.list .bookmark-content .images {
  width: unset;
  height: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px;
}

.bookmarks-list.list .bookmark-content .images img.featured {
  height: 72px;
  width: 86px;
  border-radius: 0.3rem;
}

.bookmarks-list.list .bookmark-content .info {
  width: calc(100% - 124px);
}

.bookmarks-list.list .bookmark-content .info .title {
  margin-top: 0;
}

.bookmarks-list.list .bookmark-content .info .description {
  max-width: 700px;
}

@media (max-width: 540px) {
  .bookmarks-list.list .bookmark-content .info .meta-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bookmarks-list.list .bookmark-content .info .meta-info .url {
    width: calc(100% - 30px);
    margin-bottom: 6px;
  }
}

.menu-options {
  position: absolute;
  top: calc(100% - 8px);
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  background-color: #fdfdfd;
  z-index: 150;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6px 0px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  visibility: hidden;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.menu-options.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

.menu-options .option {
  font-size: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  padding: 8px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding-right: 36px;
  width: 100%;
  color: rgba(3, 3, 3, 0.8);
  cursor: pointer;
}

.menu-options .option img {
  height: 14px;
  width: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.menu-options .option:hover {
  background-color: rgba(54, 134, 178, 0.1);
  color: #030303;
}

.menu-options .option:hover.warning {
  color: #530808;
}

.menu-options .option:hover.warning img {
  -webkit-filter: none;
          filter: none;
}

.menu-options .option:hover img {
  opacity: 1;
}

.menu-options span {
  width: calc(100% + 16px);
  margin: 6px 0;
  margin-left: -8px;
  background-color: rgba(3, 3, 3, 0.2);
  height: 1px;
  display: block;
}

.menu-options .text {
  margin: 6px 0;
  font-size: 0.9rem;
  opacity: 0.9;
  font-weight: 400;
  padding-left: 12px;
}

#bookmarkmodal {
  z-index: 500;
  -webkit-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 10px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfdfd;
}

#bookmarkmodal.open {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#bookmarkmodal button.close {
  position: absolute;
  top: 14px;
  right: 14px;
}

#bookmarkmodal button.close img {
  pointer-events: none;
  height: 14px;
  width: 14px;
  opacity: 0.6;
  -o-object-fit: contain;
     object-fit: contain;
}

#bookmarkmodal .text {
  opacity: 0.9;
  padding-left: 0px;
  font-size: 0.9rem;
  margin-bottom: 24px;
}

#bookmarkmodal input,
#bookmarkmodal textarea {
  padding: 0px;
  padding-bottom: 3px;
  border: 0;
  width: 100%;
  font-size: 0.75rem;
  border-bottom: solid 1px #f9ba17;
  outline: none;
  color: #3686b2;
  margin-top: 3px;
  font-weight: 300;
}

#bookmarkmodal input:disabled,
#bookmarkmodal textarea:disabled {
  background-color: rgba(249, 186, 23, 0.2);
}

#bookmarkmodal textarea {
  height: 60px;
}

#bookmarkmodal label {
  width: 100%;
  margin-top: 26px;
  font-size: 0.8rem;
  position: relative;
}

#bookmarkmodal label:first-of-type {
  margin-top: 0;
}

#bookmarkmodal label span {
  display: block;
  text-transform: uppercase;
}

#bookmarkmodal label img.load {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 16px;
  height: 16px;
  -webkit-animation: rotation 0.8s infinite linear;
          animation: rotation 0.8s infinite linear;
  display: none;
}

#bookmarkmodal button.btn.save {
  margin-top: 36px;
  background-color: #f9ba17;
  color: #030303;
  width: 100%;
  padding: 12px 12px;
  border-radius: 14px;
  text-transform: uppercase;
  font-size: 0.85rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#bookmarkmodal button.btn.save:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#bookmarkmodal button.btn.save.loading {
  pointer-events: none;
  opacity: 0.5;
}

#bookmarkmodal.loading label img.load {
  display: block;
}

#bookmarkmodal #searchsuggestionsbookmark {
  border-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: 0px;
  width: calc(100% + 0px);
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-top: -1px;
  background-color: #fdfdfd;
  border: solid 1px #f9ba17;
  border-top: 0;
  -webkit-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  padding: 16px 0px;
  padding-left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 50;
}

#bookmarkmodal #searchsuggestionsbookmark p {
  font-size: 0.85rem;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 50px;
  padding-right: 24px;
}

#bookmarkmodal #searchsuggestionsbookmark p:last-child {
  margin-bottom: 0;
}

#bookmarkmodal #searchsuggestionsbookmark p:first-child {
  background-color: rgba(54, 134, 178, 0.1);
}

#bookmarkmodal #searchsuggestionsbookmark.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 980px) {
  #bookmarkmodal {
    width: 90%;
    max-height: 99vh;
    overflow-y: auto;
  }
  #bookmarkmodal label {
    margin-top: 12px;
  }
  #bookmarkmodal label span {
    font-size: 0.75rem;
  }
  #bookmarkmodal label input {
    margin-top: 0;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#tagsmodal,
#tagsmergemodal {
  -webkit-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 10px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfdfd;
  z-index: 500;
  scrollbar-color: #f9ba17 rgba(3, 3, 3, 0.1);
}

#tagsmodal::-webkit-scrollbar,
#tagsmergemodal::-webkit-scrollbar {
  background-color: rgba(3, 3, 3, 0.1);
}

#tagsmodal::-webkit-scrollbar-thumb,
#tagsmergemodal::-webkit-scrollbar-thumb {
  background-color: #f9ba17;
}

#tagsmodal.open,
#tagsmergemodal.open {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#tagsmodal .text,
#tagsmergemodal .text {
  opacity: 0.9;
  padding-left: 24px;
  font-size: 0.9rem;
}

#tagsmodal button.close,
#tagsmergemodal button.close {
  position: absolute;
  top: 14px;
  right: 14px;
}

#tagsmodal button.close img,
#tagsmergemodal button.close img {
  pointer-events: none;
  height: 14px;
  width: 14px;
  opacity: 0.6;
  -o-object-fit: contain;
     object-fit: contain;
}

#tagsmodal .list,
#tagsmergemodal .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 12px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

#tagsmodal .list .tag,
#tagsmergemodal .list .tag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  position: relative;
  padding: 6px 24px;
}

#tagsmodal .list .tag:hover,
#tagsmergemodal .list .tag:hover {
  background-color: rgba(54, 134, 178, 0.1);
}

#tagsmodal .list .tag:last-child,
#tagsmergemodal .list .tag:last-child {
  margin-bottom: 0;
}

#tagsmodal .list .tag div.options.btn,
#tagsmergemodal .list .tag div.options.btn {
  margin-left: auto;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  position: relative;
}

#tagsmodal .list .tag div.options.btn img.option-menu-image,
#tagsmergemodal .list .tag div.options.btn img.option-menu-image {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

#tagsmodal .list .tag span,
#tagsmergemodal .list .tag span {
  margin-right: 6px;
}

#tagsmodal .list .tag input,
#tagsmergemodal .list .tag input {
  display: none;
}

#tagsmodal .list .tag .tag-wrap,
#tagsmergemodal .list .tag .tag-wrap {
  margin-top: 0;
  margin-top: 0;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 6px;
  border-radius: 0.3rem;
  background-color: #3686b2;
  color: #fdfdfd;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}

@media (max-width: 980px) {
  #tagsmodal .list .tag .tag-wrap,
  #tagsmergemodal .list .tag .tag-wrap {
    font-size: 0.7rem;
  }
}

#tagsmodal .list .tag.edit input,
#tagsmergemodal .list .tag.edit input {
  display: inline-block;
  width: 100%;
}

#tagsmodal .list .tag.edit .tag-name,
#tagsmergemodal .list .tag.edit .tag-name {
  display: none;
}

#tagsmergemodal {
  padding: 18px;
  max-width: 400px;
}

#tagsmergemodal .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

#tagsmergemodal .text div {
  margin: 0 6px;
  opacity: 0.8;
}

#tagsmergemodal .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tagsmergemodal .block button {
  border: solid 2px #f9ba17;
  padding: 6px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 24px;
}

#tagsmergemodal .block select {
  width: 100%;
  margin-top: 12px;
  padding: 6px 12px;
}

body.loggedout #buttons-wrapper #addtag,
body.loggedout #buttons-wrapper #addbookmark {
  display: none !important;
}

body.loggedout .bookmark .option.edit,
body.loggedout .bookmark .option.warning {
  display: none !important;
}

body.loggedout .bookmark .options span {
  display: none !important;
}

#searchresults {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.4rem;
}

#searchresults #textsearchquery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchresults #textsearchquery span {
  margin-right: 8px;
  margin-top: 8px;
  background-color: #3686b2;
  color: #fdfdfd;
  font-size: 0.76rem;
  border-radius: 14px;
  padding: 2px 8px;
}

#searchresults.hide #textsearchfor,
#searchresults.hide #textsearchquery {
  display: none;
}

.private-mode {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
  margin: 50px;
}

#toastmessage {
  position: fixed;
  top: 40%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9500;
  pointer-events: none;
}

#toastmessage div {
  pointer-events: auto;
  z-index: 500;
  background-color: #fdfdfd;
  padding: 16px;
  color: #030303;
  width: 300px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin-bottom: 25px;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  text-align: left;
  line-height: 1.4;
  font-size: 1rem;
}

@media (max-width: 540px) {
  #toastmessage div {
    width: 250px;
    font-size: 0.8rem;
    padding: 12px;
  }
}

#toastmessage div.slide-in {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#toastmessage div.longer {
  -webkit-animation-name: slideInLonger;
          animation-name: slideInLonger;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#toastmessage div.megalonger {
  -webkit-animation-name: slideInLonger;
          animation-name: slideInLonger;
  -webkit-animation-duration: 60.5s;
          animation-duration: 60.5s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-8px, 80px);
            transform: translate(-8px, 80px);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-8px, 80px);
            transform: translate(-8px, 80px);
    opacity: 0;
  }
}

@-webkit-keyframes slideInLonger {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-8px, 80px);
            transform: translate(-8px, 80px);
    opacity: 0;
  }
}

@keyframes slideInLonger {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-8px, 0);
            transform: translate(-8px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-8px, 80px);
            transform: translate(-8px, 80px);
    opacity: 0;
  }
}

.gototop {
  position: fixed;
  bottom: calc(50px + 12px + 44px);
  left: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gototop #gototop {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f9ba17;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  margin-left: 14px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.gototop #gototop img {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.gototop #gototop:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

footer {
  padding-top: 100px;
}
